<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f160359b4613faecdbd4dcd3dd01bbe4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f160359b4613faecdbd4dcd3dd01bbe4" ></div>
        
</body>
<script>    
    
            var map_f160359b4613faecdbd4dcd3dd01bbe4 = L.map(
                "map_f160359b4613faecdbd4dcd3dd01bbe4",
                {
                    center: [48.85557, 2.34614],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_893b6177fbca9ea53683421b0d03c2d6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var marker_80ef8efc15a2a4524e9f9e8b76ad71a7 = L.marker(
                [48.85395666666667, 2.3474600000000003],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_3e1b9e0b84e871253cbd7f3e2001b869 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_80ef8efc15a2a4524e9f9e8b76ad71a7.setIcon(icon_3e1b9e0b84e871253cbd7f3e2001b869);
        
    
        var popup_d1560c4b08440e276b410fdd7a4029b9 = L.popup({"maxWidth": "100%"});

        
            var html_41d2714fd55a2973bd2ea06ee860baa8 = $(`<div id="html_41d2714fd55a2973bd2ea06ee860baa8" style="width: 100.0%; height: 100.0%;">Cityscoot 45% left</div>`)[0];
            popup_d1560c4b08440e276b410fdd7a4029b9.setContent(html_41d2714fd55a2973bd2ea06ee860baa8);
        

        marker_80ef8efc15a2a4524e9f9e8b76ad71a7.bindPopup(popup_d1560c4b08440e276b410fdd7a4029b9)
        ;

        
    
    
            var marker_ad58fb62af56bf952e18f208140fa161 = L.marker(
                [48.85388666666667, 2.3474083333333335],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_ea462cee35f810c0fd1fb37d6780e5f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ad58fb62af56bf952e18f208140fa161.setIcon(icon_ea462cee35f810c0fd1fb37d6780e5f8);
        
    
        var popup_af01f27930a460a24ca591763afffa36 = L.popup({"maxWidth": "100%"});

        
            var html_cf1750e45256ee0f29b3977176f7552a = $(`<div id="html_cf1750e45256ee0f29b3977176f7552a" style="width: 100.0%; height: 100.0%;">Cityscoot 93% left</div>`)[0];
            popup_af01f27930a460a24ca591763afffa36.setContent(html_cf1750e45256ee0f29b3977176f7552a);
        

        marker_ad58fb62af56bf952e18f208140fa161.bindPopup(popup_af01f27930a460a24ca591763afffa36)
        ;

        
    
    
            var marker_eb30fa8c8cce4abfec30eb48ec20a3c2 = L.marker(
                [48.85613, 2.342808333333333],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_1ec85b1de52702744bc5a22757f5dff8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_eb30fa8c8cce4abfec30eb48ec20a3c2.setIcon(icon_1ec85b1de52702744bc5a22757f5dff8);
        
    
        var popup_2c7580ed4925aabfd72203bc3cdf2d90 = L.popup({"maxWidth": "100%"});

        
            var html_e6596bcb7a7014b4e674f98125416131 = $(`<div id="html_e6596bcb7a7014b4e674f98125416131" style="width: 100.0%; height: 100.0%;">Cityscoot 95% left</div>`)[0];
            popup_2c7580ed4925aabfd72203bc3cdf2d90.setContent(html_e6596bcb7a7014b4e674f98125416131);
        

        marker_eb30fa8c8cce4abfec30eb48ec20a3c2.bindPopup(popup_2c7580ed4925aabfd72203bc3cdf2d90)
        ;

        
    
    
            var marker_55ecd607de0ca384d3928f22de332098 = L.marker(
                [48.853345, 2.343777],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_164acfc7388b8d2e0357b8f7b0d78079 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_55ecd607de0ca384d3928f22de332098.setIcon(icon_164acfc7388b8d2e0357b8f7b0d78079);
        
    
        var popup_374635103d9d8c6280c63014f72d6eba = L.popup({"maxWidth": "100%"});

        
            var html_47ca6a444bbf17ff5f059bf17e394540 = $(`<div id="html_47ca6a444bbf17ff5f059bf17e394540" style="width: 100.0%; height: 100.0%;">Yego 67% left</div>`)[0];
            popup_374635103d9d8c6280c63014f72d6eba.setContent(html_47ca6a444bbf17ff5f059bf17e394540);
        

        marker_55ecd607de0ca384d3928f22de332098.bindPopup(popup_374635103d9d8c6280c63014f72d6eba)
        ;

        
    
    
            var marker_7054d016aad4285f4de6fd9759b43f1b = L.marker(
                [48.85824, 2.3472399999999998],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_a7d477c9aeca33d11860aafc0885f981 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7054d016aad4285f4de6fd9759b43f1b.setIcon(icon_a7d477c9aeca33d11860aafc0885f981);
        
    
        var popup_cb766a3e5e4407162d453c6ef3a71340 = L.popup({"maxWidth": "100%"});

        
            var html_1e319b0ab33d16caeffd5772c6baf88b = $(`<div id="html_1e319b0ab33d16caeffd5772c6baf88b" style="width: 100.0%; height: 100.0%;">Cityscoot 52% left</div>`)[0];
            popup_cb766a3e5e4407162d453c6ef3a71340.setContent(html_1e319b0ab33d16caeffd5772c6baf88b);
        

        marker_7054d016aad4285f4de6fd9759b43f1b.bindPopup(popup_cb766a3e5e4407162d453c6ef3a71340)
        ;

        
    
    
            var marker_d5c57abc4da84e3e5ee2cf697ec28bdb = L.marker(
                [48.856998, 2.350074],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_82b4994bad3cfce31a15221069627e4e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_d5c57abc4da84e3e5ee2cf697ec28bdb.setIcon(icon_82b4994bad3cfce31a15221069627e4e);
        
    
        var popup_a61d582e4b5fe0b839e4f387c718d200 = L.popup({"maxWidth": "100%"});

        
            var html_a89f484c6e45fd856e0a76a0b8ec74a0 = $(`<div id="html_a89f484c6e45fd856e0a76a0b8ec74a0" style="width: 100.0%; height: 100.0%;">Cooltra 24% left</div>`)[0];
            popup_a61d582e4b5fe0b839e4f387c718d200.setContent(html_a89f484c6e45fd856e0a76a0b8ec74a0);
        

        marker_d5c57abc4da84e3e5ee2cf697ec28bdb.bindPopup(popup_a61d582e4b5fe0b839e4f387c718d200)
        ;

        
    
    
            var marker_577279b700230f4d946de30a913f984f = L.marker(
                [48.852547, 2.346369],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_61b1e61b650d01592f65abb37624bd2e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_577279b700230f4d946de30a913f984f.setIcon(icon_61b1e61b650d01592f65abb37624bd2e);
        
    
        var popup_5f3b07ef11ee52a972ee7dd88b6ad515 = L.popup({"maxWidth": "100%"});

        
            var html_0c70397e16b7ba2341bf9845f7259e57 = $(`<div id="html_0c70397e16b7ba2341bf9845f7259e57" style="width: 100.0%; height: 100.0%;">Troopy 68% left</div>`)[0];
            popup_5f3b07ef11ee52a972ee7dd88b6ad515.setContent(html_0c70397e16b7ba2341bf9845f7259e57);
        

        marker_577279b700230f4d946de30a913f984f.bindPopup(popup_5f3b07ef11ee52a972ee7dd88b6ad515)
        ;

        
    
    
            var marker_112ead7c4b469b2d76be7d1fe984e60b = L.marker(
                [48.856795, 2.350452],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_60672aec44f50e881e63be0fe35e84f0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_112ead7c4b469b2d76be7d1fe984e60b.setIcon(icon_60672aec44f50e881e63be0fe35e84f0);
        
    
        var popup_24fbc9ad664977118866cc8979fd5e21 = L.popup({"maxWidth": "100%"});

        
            var html_6634bc8912ed88dac83f39f7a855d4d6 = $(`<div id="html_6634bc8912ed88dac83f39f7a855d4d6" style="width: 100.0%; height: 100.0%;">Yego 59% left</div>`)[0];
            popup_24fbc9ad664977118866cc8979fd5e21.setContent(html_6634bc8912ed88dac83f39f7a855d4d6);
        

        marker_112ead7c4b469b2d76be7d1fe984e60b.bindPopup(popup_24fbc9ad664977118866cc8979fd5e21)
        ;

        
    
    
            var marker_2d37a3e9ff8453caa590fe41245e1e45 = L.marker(
                [48.857146, 2.350292],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_b73a772beacd4ceffbd8702c1a5eaf5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_2d37a3e9ff8453caa590fe41245e1e45.setIcon(icon_b73a772beacd4ceffbd8702c1a5eaf5e);
        
    
        var popup_fbd5a0203c235c493b9004e0a4d11cfd = L.popup({"maxWidth": "100%"});

        
            var html_06ef88016f4b1466565dd367695748ef = $(`<div id="html_06ef88016f4b1466565dd367695748ef" style="width: 100.0%; height: 100.0%;">Cooltra 21% left</div>`)[0];
            popup_fbd5a0203c235c493b9004e0a4d11cfd.setContent(html_06ef88016f4b1466565dd367695748ef);
        

        marker_2d37a3e9ff8453caa590fe41245e1e45.bindPopup(popup_fbd5a0203c235c493b9004e0a4d11cfd)
        ;

        
    
    
            var marker_21fe75f1e51c1f440129c0f8b4102559 = L.marker(
                [48.856847, 2.350533],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_e1fa62bef604fb2a9ed7cc921a4658d9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_21fe75f1e51c1f440129c0f8b4102559.setIcon(icon_e1fa62bef604fb2a9ed7cc921a4658d9);
        
    
        var popup_a71d3fe794422ddd2088a30e5ffff7e7 = L.popup({"maxWidth": "100%"});

        
            var html_c2b287d38b265229f290b185f4952878 = $(`<div id="html_c2b287d38b265229f290b185f4952878" style="width: 100.0%; height: 100.0%;">Yego 73% left</div>`)[0];
            popup_a71d3fe794422ddd2088a30e5ffff7e7.setContent(html_c2b287d38b265229f290b185f4952878);
        

        marker_21fe75f1e51c1f440129c0f8b4102559.bindPopup(popup_a71d3fe794422ddd2088a30e5ffff7e7)
        ;

        
    
    
            var marker_b16e056cccf6c894b22a715833736061 = L.marker(
                [48.856812, 2.350572],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_ad70f44192b97a6238fdb5347dde8b9f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b16e056cccf6c894b22a715833736061.setIcon(icon_ad70f44192b97a6238fdb5347dde8b9f);
        
    
        var popup_f98b4291bf2488431750762597979bfc = L.popup({"maxWidth": "100%"});

        
            var html_40a682b19c541fe4c29608f5ccbb3e73 = $(`<div id="html_40a682b19c541fe4c29608f5ccbb3e73" style="width: 100.0%; height: 100.0%;">Yego 20% left</div>`)[0];
            popup_f98b4291bf2488431750762597979bfc.setContent(html_40a682b19c541fe4c29608f5ccbb3e73);
        

        marker_b16e056cccf6c894b22a715833736061.bindPopup(popup_f98b4291bf2488431750762597979bfc)
        ;

        
    
    
            var marker_8883cc0dbbb0bf79da51dd23f345990f = L.marker(
                [48.856858, 2.35083],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_8d7924000cd6d86caca63ce2e09ce9fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8883cc0dbbb0bf79da51dd23f345990f.setIcon(icon_8d7924000cd6d86caca63ce2e09ce9fb);
        
    
        var popup_6ea592eb91076014299ca6562ada8ced = L.popup({"maxWidth": "100%"});

        
            var html_cdba670d08f105bcf1f2730a92097d90 = $(`<div id="html_cdba670d08f105bcf1f2730a92097d90" style="width: 100.0%; height: 100.0%;">Yego 36% left</div>`)[0];
            popup_6ea592eb91076014299ca6562ada8ced.setContent(html_cdba670d08f105bcf1f2730a92097d90);
        

        marker_8883cc0dbbb0bf79da51dd23f345990f.bindPopup(popup_6ea592eb91076014299ca6562ada8ced)
        ;

        
    
    
            var marker_dfec3ba373635d2d1a030ee4a78b3271 = L.marker(
                [48.857073, 2.341535],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_4c70777926125d57cf496e2286e175f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_dfec3ba373635d2d1a030ee4a78b3271.setIcon(icon_4c70777926125d57cf496e2286e175f2);
        
    
        var popup_d275151557efcbf991b72344ebd34ecc = L.popup({"maxWidth": "100%"});

        
            var html_e9c3ecba1b5e62d68c1911a54c4bb39a = $(`<div id="html_e9c3ecba1b5e62d68c1911a54c4bb39a" style="width: 100.0%; height: 100.0%;">Yego 93% left</div>`)[0];
            popup_d275151557efcbf991b72344ebd34ecc.setContent(html_e9c3ecba1b5e62d68c1911a54c4bb39a);
        

        marker_dfec3ba373635d2d1a030ee4a78b3271.bindPopup(popup_d275151557efcbf991b72344ebd34ecc)
        ;

        
    
    
            var marker_aac243d949abee8dafbd02dc6aebc09c = L.marker(
                [48.85693166666667, 2.3414149999999996],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_e4b9665e304fbe61dac476a7b3ce1bcc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_aac243d949abee8dafbd02dc6aebc09c.setIcon(icon_e4b9665e304fbe61dac476a7b3ce1bcc);
        
    
        var popup_7e61da35e0d22c96d5c73ca8d69583ba = L.popup({"maxWidth": "100%"});

        
            var html_ffdf8e6dc25f7892a6bb3303809b6508 = $(`<div id="html_ffdf8e6dc25f7892a6bb3303809b6508" style="width: 100.0%; height: 100.0%;">Cityscoot 80% left</div>`)[0];
            popup_7e61da35e0d22c96d5c73ca8d69583ba.setContent(html_ffdf8e6dc25f7892a6bb3303809b6508);
        

        marker_aac243d949abee8dafbd02dc6aebc09c.bindPopup(popup_7e61da35e0d22c96d5c73ca8d69583ba)
        ;

        
    
    
            var marker_9a66332029b5611a2948d1f14b293a26 = L.marker(
                [48.85440833333333, 2.3411716666666664],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_31f30e5f3e46ae933db5b12e5594260e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9a66332029b5611a2948d1f14b293a26.setIcon(icon_31f30e5f3e46ae933db5b12e5594260e);
        
    
        var popup_423f9aa4036a4bd39ddbb142e6ab0fe0 = L.popup({"maxWidth": "100%"});

        
            var html_4a83cd2e0606051e102140dc79c381c2 = $(`<div id="html_4a83cd2e0606051e102140dc79c381c2" style="width: 100.0%; height: 100.0%;">Cityscoot 73% left</div>`)[0];
            popup_423f9aa4036a4bd39ddbb142e6ab0fe0.setContent(html_4a83cd2e0606051e102140dc79c381c2);
        

        marker_9a66332029b5611a2948d1f14b293a26.bindPopup(popup_423f9aa4036a4bd39ddbb142e6ab0fe0)
        ;

        
    
    
            var marker_d549e4d9c52c044af56952b9a35ec2fe = L.marker(
                [48.858582, 2.348955],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_07636117b323695046a4cc005cbf1176 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d549e4d9c52c044af56952b9a35ec2fe.setIcon(icon_07636117b323695046a4cc005cbf1176);
        
    
        var popup_775e3736aa116d58c7a88b97639ef298 = L.popup({"maxWidth": "100%"});

        
            var html_66482dbfdc6179914284368547f44ecb = $(`<div id="html_66482dbfdc6179914284368547f44ecb" style="width: 100.0%; height: 100.0%;">Yego 83% left</div>`)[0];
            popup_775e3736aa116d58c7a88b97639ef298.setContent(html_66482dbfdc6179914284368547f44ecb);
        

        marker_d549e4d9c52c044af56952b9a35ec2fe.bindPopup(popup_775e3736aa116d58c7a88b97639ef298)
        ;

        
    
    
            var marker_b5d65081c2aa1c0a53f7f4204c8ba0a1 = L.marker(
                [48.858456, 2.349302],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_ba41870ae8cf348af4628f42a92df517 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_b5d65081c2aa1c0a53f7f4204c8ba0a1.setIcon(icon_ba41870ae8cf348af4628f42a92df517);
        
    
        var popup_14c5b7d209341005e34345dc27de03f1 = L.popup({"maxWidth": "100%"});

        
            var html_ff427455c65f7b39ca0c305d93d3a673 = $(`<div id="html_ff427455c65f7b39ca0c305d93d3a673" style="width: 100.0%; height: 100.0%;">Cooltra 72% left</div>`)[0];
            popup_14c5b7d209341005e34345dc27de03f1.setContent(html_ff427455c65f7b39ca0c305d93d3a673);
        

        marker_b5d65081c2aa1c0a53f7f4204c8ba0a1.bindPopup(popup_14c5b7d209341005e34345dc27de03f1)
        ;

        
    
    
            var marker_354951e9a453e489a7f0e03f5761b216 = L.marker(
                [48.858413, 2.342883],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_6e3be742f8fe129b428b2145be9bd6b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_354951e9a453e489a7f0e03f5761b216.setIcon(icon_6e3be742f8fe129b428b2145be9bd6b8);
        
    
        var popup_8bd7e737297f65c1345321464ec48686 = L.popup({"maxWidth": "100%"});

        
            var html_d4f341bc26259bd4378fe7076c6a7e1e = $(`<div id="html_d4f341bc26259bd4378fe7076c6a7e1e" style="width: 100.0%; height: 100.0%;">Yego 45% left</div>`)[0];
            popup_8bd7e737297f65c1345321464ec48686.setContent(html_d4f341bc26259bd4378fe7076c6a7e1e);
        

        marker_354951e9a453e489a7f0e03f5761b216.bindPopup(popup_8bd7e737297f65c1345321464ec48686)
        ;

        
    
    
            var marker_23b44feb37d0cfee0b50a483d224b6ea = L.marker(
                [48.858837, 2.343772],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_e79e99c9f017d4c4bb9b5a18577c82bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightblue", "prefix": "glyphicon"}
            );
            marker_23b44feb37d0cfee0b50a483d224b6ea.setIcon(icon_e79e99c9f017d4c4bb9b5a18577c82bc);
        
    
        var popup_7314d3cd7182430cc876ba827688b248 = L.popup({"maxWidth": "100%"});

        
            var html_574081f3a424b1db7b99f4a7e8cefebc = $(`<div id="html_574081f3a424b1db7b99f4a7e8cefebc" style="width: 100.0%; height: 100.0%;">Cooltra 79% left</div>`)[0];
            popup_7314d3cd7182430cc876ba827688b248.setContent(html_574081f3a424b1db7b99f4a7e8cefebc);
        

        marker_23b44feb37d0cfee0b50a483d224b6ea.bindPopup(popup_7314d3cd7182430cc876ba827688b248)
        ;

        
    
    
            var marker_7fec5651db49ece44f090c37a4deb75b = L.marker(
                [48.858648333333335, 2.3491233333333335],
                {}
            ).addTo(map_f160359b4613faecdbd4dcd3dd01bbe4);
        
    
            var icon_66b8339aafd0b7097d8ff85e83992feb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7fec5651db49ece44f090c37a4deb75b.setIcon(icon_66b8339aafd0b7097d8ff85e83992feb);
        
    
        var popup_c1b8a3387269f82d22ea380c29d2c342 = L.popup({"maxWidth": "100%"});

        
            var html_620e3000573f4051e6d1c60d775f5d17 = $(`<div id="html_620e3000573f4051e6d1c60d775f5d17" style="width: 100.0%; height: 100.0%;">Cityscoot 75% left</div>`)[0];
            popup_c1b8a3387269f82d22ea380c29d2c342.setContent(html_620e3000573f4051e6d1c60d775f5d17);
        

        marker_7fec5651db49ece44f090c37a4deb75b.bindPopup(popup_c1b8a3387269f82d22ea380c29d2c342)
        ;

        
    
</script>